@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0px; /* Width of the scrollbar */
}





.light body {
  --tile: var(--neutral-100);
}

.dark body {
  --tile: var(--neutral-900);
}

@media (prefers-color-scheme: dark) {
  :root {
    --tile: var(--neutral-900);
  }
}
